version: "3"
services:
  turret-ui:
    build: ./ui
    command: npm run dev
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./ui:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NEXT_PUBLIC_WEBSOCKET_URL=${NEXT_PUBLIC_WEBSOCKET_URL:-ws://192.168.4.29/ws}
      - NEXT_PUBLIC_CAMERA_STREAM_BASE_URL=${NEXT_PUBLIC_CAMERA_STREAM_BASE_URL:-http://localhost:8081}
    stdin_open: true
    tty: true
    depends_on:
      - camera-stream

  camera-stream:
    build: ./camera-stream
    ports:
      - "8081:8081"
    environment:
      - ESP32_CAM_URL=${ESP32_CAM_URL:-http://192.168.4.1/stream}
